*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans" ,sans-serif;
}

.signup-page-container{
    width: 500px;
    padding: 50px;
    /*background-color: gray;*/
}
.signup-page-container>div:nth-child(1)>p{
    color: #F75940;
    font-weight: 800;
    margin-bottom: 30px;
}
.signup-page-container>div:nth-child(2)>p{
    font-family: Kumbh Sans;
    color: black;
    font-weight: 800;
    font-size: 25px;
}


#signUpForm{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-family: Arial;
}

#signUpForm>div:nth-child(1){
    display: flex;
}

#signUpForm>div:nth-child(2){
    display: flex;
    flex-direction: column;
}
#signUpForm>div:nth-child(3){
    display: flex;
    flex-direction: column;
}
#signUpForm>div:nth-child(4){
    display: flex;
    flex-direction: column;
}

#signUpForm>div:nth-child(5){
    margin-top: 10px;
    display: flex;
    padding: 0 12px;
}

#signUpForm>div:nth-child(5)>button{
    color: white;
    flex: 1;
    background-color: black;
    font-weight: 550;
    font-family: Arial;
    padding: 10px;
    border-radius: 50px;

}

#signUpForm input{

}

