<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Next travel admin login</title>
    <link rel="stylesheet" href="/assets/style/AdminLogin/style.css">
</head>
<body>

    <div class="admin-login-container">
        <div>
            <p>Login to your admin account</p>
        </div>
        <form id="loginForm">
            <p class="status">access denied</p>
            <label for="adminEmailAddress">Email address</label><br>
            <input id="adminEmailAddress" type="email" placeholder="Email address"><br>
            <label for="adminPassword" >Password</label><br>
            <input id="adminPassword" type="password" placeholder="Password">
        </form>
        <div>
            <p><a href="">Forgot password?</a></p>
        </div>
        <div>
            <button id="adminLoginBtn" type="button">Login</button>
            <a id="navigateAdminGuide" href="http://localhost:63343/frontend/frontend/view/AdminGuideManage/index.html?_ijt=ki8f1al8uss8of8p2khmm8pjov&_ij_reload=RELOAD_ON_SAVE"></a>
            <a id="navigateAdminHotel" href="http://localhost:63343/frontend/frontend/view/AdminHotelManage/index.html?_ijt=2ed44ma4ut3rnuaa1tpr1au4g2&_ij_reload=RELOAD_ON_SAVE"></a>
            <a id="navigateAdminTravel" href="http://localhost:63343/frontend/frontend/view/AdminTravelManage/index.html?_ijt=p75t5o71gt0fu1nsd1n4klg12s&_ij_reload=RELOAD_ON_SAVE"></a>
            <a id="navigateAdminVehicle" href="http://localhost:63343/frontend/frontend/view/AdminVehiclesManage/index.html?_ijt=p75t5o71gt0fu1nsd1n4klg12s&_ij_reload=RELOAD_ON_SAVE"></a>
        </div>

    </div>

    <script src="/assets/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script src="/assets/script/AdminLogin/script.js"></script>

</body>
</html>