<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>next travel sign up</title>
    <link rel="stylesheet" href="/assets/boostrap/bootstrap-5.3.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style/signup/tripsans.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap"
            rel="stylesheet">

    <link rel="stylesheet" href="/assets/style/signup/style.css">


</head>
<body>
<div class="signup-page-container">
    <div>
        <!--        <img class="signup-logo" src="/assets/images/logo/Thynk Travel (1).png">-->
        <p>Next Travel</p>
    </div>
    <div>
        <p>Join to unlock the best<br> of Travel</p>
    </div>
    <div>
        <form id="signUpForm">
            <div>
                <div>
                    <label for="userRegName">User Name</label>
                    <input type="text" placeholder="First Name" id="userRegName">
                </div>
                <div>
                    <label for="userRegNic">NIC/Passport</label>
                    <input type="text" placeholder="NIC/Passport" id="userRegNic">
                </div>
            </div>
            <div class="signUp-email-container">
                <label for="userRegEmail">Email address</label>
                <input type="email" placeholder="Email" id="userRegEmail">
            </div>
            <div>
                <label for="userRegAddress">Address</label>
                <input type="text" placeholder="Address" id="userRegAddress">
            </div>
            <div>
                <label for="userRegPassword">Password</label>
                <input type="password" placeholder="Password" id="userRegPassword">
            </div>
            <div>
                <button id="signUpBtn">Join</button>
            </div>
        </form>
    </div>
</div>

<script src="/assets/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>
<script type="module" src="/controller/UserRegisterController.js"></script>
<script type="module" src="/model/UserModel.js"></script>


</body>
</html>