<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NextTravelUser Dashboard</title>
    <link rel="stylesheet" href="../assets/fontAwesome/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/style/UserDashboard/style.css">
</head>
<body>

<section class="main-container">
    <div class="dashboard-left-section">
        <div class="left-section">
            <div class="profile-container">
                <div class="profile-image">
                    <img src="" alt="">
                </div>
                <h3>Dilshan Shivantha</h3>
                <p>Traveling enthusiats</p>
            </div>
            <nav class="dashboard-navigation">
                <div class="main-navigations">
                    <div class="dashboard-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-table-columns" style="color: #9facae;"></i>
                            <p>Dashboard</p>
                        </button>
                    </div>
                    <div class="inbox-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-gear"></i>
                            <p>Setting</p>
                        </button>
                    </div>
                    <div class="notification-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-bell"></i>
                            <p>Notification</p>
                        </button>
                    </div>
                    <div class="cart-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>Cart</p>
                        </button>
                    </div>
                    <div class="orders-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Order</p>
                        </button>
                    </div>
                </div>
                <div class="logout-navigation">
                    <div class="help-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-shield-halved"></i>
                            <p>help & support</p>
                        </button>
                    </div>
                    <div class="logout-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                            <p>Log out</p>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="-dashboard-middle-section">

    </div>

    <div class="dashboard-right-section">

    </div>
    <div class="dashboard-right-section">

    </div>


</section>


</body>
</html>