<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NextTravelUser Dashboard</title>
    <link rel="stylesheet" href="../assets/fontAwesome/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/assets/style/UserDashboard/style.css">
</head>
<body>

<section class="main-container">
    <div class="dashboard-left-section">
        <div class="left-section">
            <div class="profile-container">
                <div class="profile-image">
                    <img src="" alt="">
                </div>
                <h3>Dilshan Shivantha</h3>
                <p>Traveling enthusiats</p>
            </div>
            <nav class="dashboard-navigation">
                <div class="main-navigations">
                    <div class="dashboard-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-table-columns" style="color: #9facae;"></i>
                            <p>Dashboard</p>
                        </button>
                    </div>
                    <div class="inbox-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-gear"></i>
                            <p>Setting</p>
                        </button>
                    </div>
                    <div class="notification-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-bell"></i>
                            <p>Notification</p>
                        </button>
                    </div>
                    <div class="cart-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <p>Cart</p>
                        </button>
                    </div>
                    <div class="orders-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-bag-shopping"></i>
                            <p>Order</p>
                        </button>
                    </div>
                </div>
                <div class="logout-navigation">
                    <div class="help-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-shield-halved"></i>
                            <p>help & support</p>
                        </button>
                    </div>
                    <div class="logout-nav">
                        <button class="nav-btn">
                            <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
                            <p>Log out</p>
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="-dashboard-middle-section">
<!--        <div class="category-section">-->
<!--            <div class="category-container">-->
<!--                <div>-->
<!--                    <ul>-->
<!--                        <li>-->
<!--                            <a href="#">Guide</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Hotel</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">Car Rental</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="item-section">-->
<!--            <div class="item-container">-->
<!--                <div>-->
<!--                    <div class="upper-item-section">-->
<!--                        <div>-->
<!--                            <h2>Hey <span>Dilshan</span> !!!</h2>-->
<!--                            <p>Welcome back and explore the world</p>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <div class="upper-item-section-searchbar">-->
<!--                                <i class="fa-solid fa-magnifying-glass"></i>-->
<!--                                <input type="search" placeholder="search-hotel">-->
<!--                            </div>-->
<!--                            <div class="filter-package">-->
<!--                                <button>-->
<!--                                    <img src="/assets/images/icon/setting%20(1).png" alt="filter-icon">-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="hotel-list-container">-->

<!--                        <div class="hotel-grid">-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="hotel-details-container">-->
<!--                                <div class="hotel-main-image">-->
<!--                                    <img src="" alt="">-->
<!--                                </div>-->
<!--                                <div class="hotel-description">-->
<!--                                    <p>Holly Cottage</p>-->
<!--                                    <p>Homagama</p>-->
<!--                                    <div class="star-review">-->
<!--                                        <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div><div class="hotel-details-container">-->
<!--                            <div class="hotel-main-image">-->
<!--                                <img src="" alt="">-->
<!--                            </div>-->
<!--                            <div class="hotel-description">-->
<!--                                <p>Holly Cottage</p>-->
<!--                                <p>Homagama</p>-->
<!--                                <div class="star-review">-->
<!--                                    <i class="fa-solid fa-star" style="color: #e0d900;"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
<!--    <div class="dashboard-right-section">-->

<!--    </div>-->


</section>


</body>
</html>