<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next travel guide admin</title>
  <link rel="stylesheet" href="/assets/fontAwesome/fontawesome-free-6.4.2-web/css/all.css">
  <link rel="stylesheet" href="/assets/style/AdminGuide/style.css">
</head>
<body>

  <section class="main-guide-container">
      <div class="guide-navigation">

      </div>

      <div class="main-content-container">
          <div class="main-content">

          </div>
      </div>
  </section>


</body>
</html>