<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Next travel guide admin</title>
    <link rel="stylesheet" href="/assets/fontAwesome/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="/assets/style/AdminGuide/style.css">
</head>
<body>

<section class="main-guide-container">
    <div class="guide-navigation">
        <p>Next Travel.com</p>
        <div>
            <a href="">
                <p>Add new guide</p>
            </a>
            <a href="">
                <p>View All guide details</p>
            </a>
            <a href="">
                <p>Delete guide</p>
            </a>
            <a href="">
                <p>Update guide</p>
            </a>
            <div>
                <img src="/assets/images/guideAdmin/admin-logo.png">
                <a href="">
                    <p>Sign out</p>
                </a>
            </div>
        </div>
    </div>

    <div class="main-content-container">
        <div class="main-content">

        </div>
    </div>
</section>


</body>
</html>