<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/boostrap/bootstrap-5.3.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/boostrap/bootstrap-5.3.0-dist/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="/assets/boostrap/bootstrap-5.3.0-dist/css/bootstrap-utilities.min.css">



<!--    <link rel="stylesheet" href="/assets/boostrap/bootstrap-5.3.0-dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/assets/style/AdminHotel/style.css">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>-->


</head>
<body>






<section class="main-hotels-container">

    <nav class="navbar navbar-expand-lg " style="background-color: #1C054C">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Next Travel.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" aria-current="page" href="#">Hotel Save</a>-->
                    <!--                    </li>-->
                    <!--                <li class="nav-item">-->
                    <!--                    <a class="nav-link" href="#">Link</a>-->
                    <!--                </li>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Navigation menu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="hotelSaveNavigation" class="dropdown-item" href="#">Save hotels</a></li>
                            <li><a id="updateSaveNavigation" class="dropdown-item" href="#">Delete and Update</a></li>
                            <!--                                            <li><hr class="dropdown-divider"></li>-->
                            <li><a class="dropdown-item" href="#">View details</a></li>
                        </ul>
                    </li>
                    <!--                <li class="nav-item">-->
                    <!--                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
                    <!--                </li>-->
                </ul>
                <form class="d-flex" role="search">
                    <input id="hotelSearchInputField" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button id="searchBtn" class="btn btn-outline-success" type="button">Search</button>
                </form>

                <div class="dropdown navigation-admin-image">
                    <img
                            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                            class="rounded-circle"
                            height="40"
                            alt="Black and White Portrait of a Man"
                            loading="lazy"
                    />
                </div>
            </div>
        </div>
    </nav>

<!--    modal-->
    <div class=" hotel-delete-modal modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation message</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to delete hotel
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="hotelDeleteBtn" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <section class="hotel-save-context">
        <section class="contact-details">
            <form id="hotelSaveForm">
                <div class="container-fluid">

                    <div class="container">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                            <h2 class="h5 mb-3 mb-lg-0"><a href="../../pages/admin/customers.html" class="text-muted"><i
                                    class="bi bi-arrow-left-square me-2"></i></a> Add new hotel </h2>
                            <div class="hstack gap-3">
                                <button type="reset" class="btn btn-light btn-sm btn-icon-text"><i class="bi bi-x"></i>
                                    <span
                                            class="text">Cancel</span>
                                </button>
                                <button type="button" id="hotelSaveBtn" class="btn btn-primary btn-sm btn-icon-text"><i
                                        class="bi bi-save"></i> <span
                                        class="text">Save</span></button>
                            </div>
                        </div>

                        <!-- Main content -->
                        <div class="row">
                            <!-- Left side -->
                            <div class="col-lg-8">
                                <!-- Basic information -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Basic information</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel name</label>
                                                    <input type="text" class="form-control" name="hotelName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel Location</label>
                                                    <input type="text" class="form-control" name="hotelLocation">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel email</label>
                                                    <input type="email" class="form-control" name="hotelContactEmail">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel location link</label>
                                                    <input type="text" class="form-control" name="hotelLocationLink">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Room details and contacts</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">1 Full Board with A/C Luxury Room –
                                                        Double</label>
                                                    <input type="text" class="form-control" name="hotelFeeOption1">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">2 Half Board with A/C Luxury Room -
                                                        Double</label>
                                                    <input type="text" class="form-control" name="hotelFeeOption2">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">3 Full Board with A/C Luxury Room –
                                                        Triple</label>
                                                    <input type="text" class="form-control" name="hotelFeeOption3">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">4 Half Board with A/C Luxury Room -
                                                        Triple</label>
                                                    <input type="text" class="form-control" name="hotelFeeOption4">
                                                </div>
                                            </div>


                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Contact no 1</label>
                                                    <input type="text" class="form-control" name="contactNoOne">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Contact no 2</label>
                                                    <input type="text" class="form-control" name="contactNoTwo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Pets</label>
                                                    <select name="petsAllowedOrNot"
                                                            class="select2 form-control select2-hidden-accessible"
                                                            data-select2-placeholder="Select city"
                                                            data-select2-id="select2-data-7-809c" tabindex="-1"
                                                            aria-hidden="true">
                                                        <option data-select2-id="select2-data-9-k35n"></option>
                                                        <option value="Allowed">Allowed</option>
                                                        <option value="Not allowed">Not</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Select hotel category</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Right side -->
                            <div class="col-lg-4">
                                <!-- Status -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6">Cancellation-criteria</h3>
                                        <select name="cancellation" class="form-select">
                                            <option value="Free">Free</option>
                                            <option value="None-free">Non-free</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6">Star rate</h3>
                                        <div class="rating"><input type="radio" name="starRate" value="5" id="5"><label
                                                for="5">☆</label> <input type="radio" name="starRate" value="4"
                                                                         id="4"><label
                                                for="4">☆</label> <input type="radio" name="starRate" value="3"
                                                                         id="3"><label
                                                for="3">☆</label> <input type="radio" name="starRate" value="2"
                                                                         id="2"><label
                                                for="2">☆</label> <input type="radio" name="starRate" value="1"
                                                                         id="1"><label
                                                for="1">☆</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-4 remarks">
                                    <div class="card-body remarks">
                                        <h3 class="h6">Remarks</h3>
                                        <textarea name="remarks" class="form-control remarks" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </section>


    <section class="hotel-update-context">
        <section class="contact-details">
            <form id="hotelUpdateForm">
                <div class="container-fluid">

                    <div class="container">
                        <!-- Title -->
                        <div class="d-flex justify-content-between align-items-lg-center py-3 flex-column flex-lg-row">
                            <h2 class="h5 mb-3 mb-lg-0"><a href="../../pages/admin/customers.html" class="text-muted"><i
                                    class="bi bi-arrow-left-square me-2"></i></a> Update and Delete </h2>
                            <div class="hstack gap-3">
                                <button type="reset" class="btn btn-light btn-sm btn-icon-text"><i class="bi bi-x"></i>
                                    <span
                                            class="text">Cancel</span>
                                </button>
                                <button type="button" id="hotelUpdateBtn" class="btn btn-sm btn-icon-text btn-primary"><i
                                        class="bi bi-x"></i> <span
                                        class="text">Update</span>
                                </button>
                                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" class="btn btn-danger btn-sm btn-icon-text"><i
                                        class="bi bi-save"></i> <span
                                        class="text">Delete</span>
                                </button>
                            </div>
                        </div>

                        <!-- Main content -->
                        <div class="row">
                            <!-- Left side -->
                            <div class="col-lg-8">
                                <!-- Basic information -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Basic information</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel name</label>
                                                    <input id="hotelName" type="text" class="form-control"
                                                           name="hotelName">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel Location</label>
                                                    <input id="hotelLocation" type="text" class="form-control"
                                                           name="hotelLocation">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel email</label>
                                                    <input id="hotelEmail" type="email" class="form-control"
                                                           name="hotelContactEmail">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Hotel location link</label>
                                                    <input id="hotelLocationLink" type="text" class="form-control"
                                                           name="hotelLocationLink">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6 mb-4">Room details and contacts</h3>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">1 Full Board with A/C Luxury Room –
                                                        Double</label>
                                                    <input id="hotelOption1" type="text" class="form-control"
                                                           name="hotelFeeOption1">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">2 Half Board with A/C Luxury Room -
                                                        Double</label>
                                                    <input id="hotelOption2" type="text" class="form-control"
                                                           name="hotelFeeOption2">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">3 Full Board with A/C Luxury Room –
                                                        Triple</label>
                                                    <input id="hotelOption3" type="text" class="form-control"
                                                           name="hotelFeeOption3">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">4 Half Board with A/C Luxury Room -
                                                        Triple</label>
                                                    <input id="hotelOption4" type="text" class="form-control"
                                                           name="hotelFeeOption4">
                                                </div>
                                            </div>


                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Contact no 1</label>
                                                    <input id="contactNo1" type="text" class="form-control"
                                                           name="contactNoOne">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Contact no 2</label>
                                                    <input id="contactNo2" type="text" class="form-control"
                                                           name="contactNoTwo">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Pets</label>
                                                    <select id="petsAllowedOrNot" name="petsAllowedOrNot"
                                                            class="select2 form-control select2-hidden-accessible"
                                                            data-select2-placeholder="Select city"
                                                            data-select2-id="select2-data-7-809c" tabindex="-1"
                                                            aria-hidden="true">
                                                        <option data-select2-id="select2-data-9-k35n"></option>
                                                        <option value="Allowed">Allowed</option>
                                                        <option value="Not allowed">Not</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="mb-3">
                                                    <label class="form-label">Select hotel category</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Right side -->
                            <div class="col-lg-4">
                                <!-- Status -->
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6">Cancellation-criteria</h3>
                                        <select id="cancellationCriteria" name="cancellation" class="form-select">
                                            <option value="Free">Free</option>
                                            <option value="None-free">Non-free</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h3 class="h6">Star rate</h3>
                                        <div class="rating">
                                            <input type="radio" name="starRate" value="5" id="u5">
                                            <label for="u5">☆</label>
                                            <input type="radio" name="starRate" value="4" id="u4">
                                            <label for="u4">☆</label>
                                            <input type="radio" name="starRate" value="3" id="u3">
                                            <label for="u3">☆</label>
                                            <input type="radio" name="starRate" value="2" id="u2">
                                            <label for="u2">☆</label>
                                            <input type="radio" name="starRate" value="1" id="u1">
                                            <label for="u1">☆</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="card mb-4 remarks">
                                    <div class="card-body remarks">
                                        <h3 class="h6">Remarks</h3>
                                        <textarea id="remarks" name="remarks" class="form-control remarks"
                                                  rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </section>


</section>





<!-- delete confirmation modal -->


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--    Launch static backdrop modal-->
<!--</button>-->

<!-- Modal -->
<!--<div class=" hotel-delete-modal modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation message</h1>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                ...-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Understood</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->













<!--<script src="/assets/boostrap/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="/assets/boostrap/bootstrap-5.3.0-dist/js/bootstrap.bundle.js"></script>-->
<!--<script src="/assets/boostrap/bootstrap-5.3.0-dist/js/bootstrap.min.js"></script>-->

<script src="/assets/jquery/code.jquery.com_jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<script src="/assets/script/AdminHotel/rating.js"></script>
<script src="/controller/HotelMageController.js"></script>

</body>
</html>