@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    /*color: white;*/
    --button-color: #1ec28a;
    --middle-section-color:#f2f6f7;
}

.main-container{ /* this include lef middle and right div */
    display: flex;
}

/*.main-container div{*/
/*    width: 100px;*/
/*    height: 300px;*/
/*}*/

.left-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 210px;
    background-color: #ffffff;
}

.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-container h3{
    margin: 5px 0;
}
.profile-container p{
    font-size: 12px;
    color: #9facae;
}

.profile-image{
    width: 60px;
    height: 60px;
    background-color: #dcdcdc;
    border-radius: 100%;
    margin-bottom: 6px;
}

.main-navigations,
.logout-navigation{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 0 10px;
    margin-top: 20px;
}

.logout-navigation{
    margin-bottom: 20px;
}

/*.main-navigations*/

.dashboard-navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.dashboard-nav{
    /*background-color: white;*/
    /*padding: 0 5px;*/
}

.nav-btn:hover{
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 8px

}

/* need to implement when hover and active */

.dashboard-nav>button  /*.help-nav>button*/{
    background-color: #1ec28a!important;
    border-radius: 8px;
}

.dashboard-nav>button>p,.dashboard-nav>button>i/*.help-nav>button>i,.help-nav>button>p*/{
    color: white!important;
}

.logout-nav>button>*{
    color: red!important;

}

.dashboard-nav>button,.inbox-nav>button,
.notification-nav>button,
.cart-nav>button,
.orders-nav>button,
.logout-nav>button,
.help-nav>button{
    color: #9facae;
    width: 180px;
    height: 45px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    /*background-color: #e73030;*/
    background-color: white;
    border: none;
    /*padding-left: 40px;*/
    padding-left: 35px;
    /*padding: 0;*/
    cursor: pointer;
    margin-bottom: 5px;
}

.dashboard-nav>button>i,
.inbox-nav>button>i,
.notification-nav>button>i,
.cart-nav>button>i,
.orders-nav>button>i,
.logout-nav>button>i,
.help-nav>button>i{
    font-size: 20px;
    margin-right: 18px;
}

.-dashboard-middle-section{
    background-color: white;
    flex: 1;
}
.logo-nav>.nav-btn p{
    font-weight:600;
}


/*middle section design*/
.-dashboard-middle-section{
    display: flex;
    flex-direction: column;
}

.category-container{
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}

.category-container>div{
    padding-bottom: 10px;
    border-bottom: 2px solid #d7d7d7;
}

.category-container>div>ul{
    display: flex;
}
/*.category-container>ul{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    border: 1px solid black;*/
/*}*/

.category-container>div>ul> li{
    list-style: none;
}
.category-container>div>ul>li a{
    text-decoration: none;
    color: #9facae;
    margin-right: 17px;
    margin-left: 17px;
}

.item-section{
    margin-top: 10px;
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
}


.item-container{
    background-color: #f2f7f6;
    height: 100%;
    width: 100%;
    border-radius: 30px;

}


/*.item-container>div{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*padding: 0 50px;*!*/
/*    background-color: black;*/
/*}*/

.upper-item-section{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 0 20px;
}

.upper-item-section>div:nth-child(1){
    display: flex;
    flex-direction: column;
}

.upper-item-section>div:nth-child(1) p{
    display: flex;
    flex-direction: column;
    color: #ababab;
    font-size: 12px;
    margin-top: 5px;
}

.upper-item-section>div:nth-child(2){
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}


.upper-item-section-searchbar{
    padding: 8px;
    background-color: white;
    border: 2px solid #d7d7d7;
    border-radius: 20px;
    margin-right: 10px;
}

.upper-item-section-searchbar input{
    background-color: white;
    border: none;
    outline: none;
    margin-left: 7px;
}

.upper-item-section-searchbar i{
    color: #e0e0e0;
}

.filter-package{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #1ec28a;
    cursor: pointer;
}

.filter-package>button{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.filter-package>button>img{
    height: 20px;
    aspect-ratio: 1/1;
}

/* hotel container details */

/* hotel container */
.hotel-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.hotel-list-container{
    overflow:scroll;
}

.hotel-details-container{
    height: 500px;
    width: 100px;
    position: relative;
}

.dashboard-middle-section{
    background-color: #dadada;
}



.container-fluid{
    margin-top: 10px;
}

.main-context{
    background-color: #f3f3f3;
    width: 100%;
}

.selection-bar{
    width: 100%;
    height: 50px;
    /*background-color: #1a1d20;*/
    margin-bottom: 20px;
}
.selection-bar>div{
    width: 100%;
    height: 50px;
    /*background-color: white;*/
}

.form-select{
    width: 1050px;
}

.hotel-data-fields{
    overflow: hidden;
}


/* hotel details modal */
.hotels-details-modal {
    width: 100vw;
    height: 100vh;
    background-color: #1a1d20;
    background-color: rgba(26, 29, 32, 0.3);
    /*opacity: 0.4;*/
    padding: 70px 50px;
    position: fixed;
    top: 0;
    z-index: 10000000000;
    display: none;
}

.hotels-details-modal-package {
    width: 100vw;
    height: 100vh;
    background-color: #1a1d20;
    background-color: rgba(26, 29, 32, 0.3);
    /*opacity: 0.4;*/
    padding: 70px 50px;
    position: fixed;
    top: 0;
    z-index: 10000000000;
    display: none;
}

.vehicle-details-modal{
    width: 100vw;
    height: 100vh;
    background-color: #1a1d20;
    background-color: rgba(26, 29, 32, 0.3);
    /*opacity: 0.4;*/
    padding: 70px 50px;
    position: fixed;
    top: 0;
    z-index: 10000000000;
    display: none;
}

.guide-details-modal{
    width: 100vw;
    height: 100vh;
    background-color: #1a1d20;
    background-color: rgba(26, 29, 32, 0.3);
    /*opacity: 0.4;*/
    padding: 70px 50px;
    position: fixed;
    top: 0;
    z-index: 10000000000;
    display: none;
}

.hotel-details-popup{
    position: relative;
    /*padding: 10px;*/
    background-color: white;
    width: 100%;
    height: 100%;
}
.hotel-details-popup-package{
    position: relative;
    /*padding: 10px;*/
    background-color: white;
    width: 100%;
    height: 100%;
}

.vehicle-details-popup{
    position: relative;
    /*padding: 10px;*/
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.guide-details-popup{
    position: relative;
    /*padding: 10px;*/
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}



.x-mark {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.x-mark>svg {
    font-size: 30px;
    margin: 10px ;
}

.x-mark:hover{
    background-color: #f1f1f1;
    transition: 1s;
}

.gg{
    /*background-color: deeppink;*/
    width: 100%;
    height: 100%;
    padding: 50px;
}

.column01{
    /*background-color: #0d6efd;*/
}
/*.column02{*/
/*    !*background-color: green;*!*/
/*    overflow: hidden;*/
/*}*/

.header{
    color: #1a1d20;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 5px solid black;
}

.textcol>div>p:nth-child(2){
    font-weight: bold;
}

/*.textcol{*/
/*    overflow-y: hidden;*/
/*}*/
.vehicleImageModal>img{
    height: 250px;
    margin-bottom: 10px;
}

.vehicleImageModal{
    /*border: 1px solid red;*/
    height: 250px;
    /*overflow-y: scroll;*/
    margin-bottom: 10px;
}

.dashboard-right-section{
    background-color: white;
    height: 100vh;
    width: 295px;
}

.vehicleImageModalContainer{
    border: 1px solid red;
    height: 250px;
}

.package-container{
    width: 100%;
    height: 100%;
    /*background-color: black;*/
}

.package-details-container{
    width: 100%;
    height: 100%;
    padding: 50px;
    /*background-color: white;*/


}

#packageContainer{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius:25px;

}

#packageContainer>div>button{

    margin-left: 5px;
    margin-top: 5px;

}

.package-items-container{
    width: 100%;
    height: 100%;
    /*background-color: deeppink;*/
    padding-top: 5px;
}

.addToHotelPackageContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    z-index: 555555555;
    padding: 50px;
    display: none;

}

.addToHotelPackageContainer>div>div:nth-child(2){
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: white;
}

.addToHotelPackageContainer>div>div:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /*font-size: 35px;*/
    /*font-weight: bold;*/
    position: relative;
    align-items: center;
    
}

.addToHotelPackageContainer>div>div:nth-child(1)>p{

    font-size: 35px;
    font-weight: bold;


}
.addToHotelPackageContainer>div>div:nth-child(1)>button{

    position: absolute;
    right: 0;
    height: 30px;

}
.addToHotelPackageContainer>div>div:nth-child(2){

    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;


}

/*/////*/
.addToVehiclePackageContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    z-index: 555555555;
    padding: 50px;
    display: none;

}

.addToVehiclePackageContainer>div>div:nth-child(2){
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: white;
}

.addToVehiclePackageContainer>div>div:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /*font-size: 35px;*/
    /*font-weight: bold;*/
    position: relative;
    align-items: center;

}

.addToVehiclePackageContainer>div>div:nth-child(1)>p{

    font-size: 35px;
    font-weight: bold;


}
.addToVehiclePackageContainer>div>div:nth-child(1)>button{

    position: absolute;
    right: 0;
    height: 30px;

}
.addToVehiclePackageContainer>div>div:nth-child(2){

    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;


}

/********************/

.addToGuidePackageContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    z-index: 555555555;
    padding: 50px;
    display: none;

}

.addToGuidePackageContainer>div>div:nth-child(2){
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: white;
}

.addToGuidePackageContainer>div>div:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    /*font-size: 35px;*/
    /*font-weight: bold;*/
    position: relative;
    align-items: center;

}

.addToGuidePackageContainer>div>div:nth-child(1)>p{

    font-size: 35px;
    font-weight: bold;


}
.addToGuidePackageContainer>div>div:nth-child(1)>button{

    position: absolute;
    right: 0;
    height: 30px;

}
.addToGuidePackageContainer>div>div:nth-child(2){

    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;


}


/*btns*/
.hotel-add-to-cart-btn{
    display: none;
}

.package-items-container{
    width: 100%;
    height: 100%;
    /*background-color: #0d6efd;*/
    padding: 10px;
    display: flex;
}

.cart-item-container{
    width: 600px;
    height: 100%;
    /*background-color: white;*/

}

.cart-item-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    background-color: #ececec;
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    /*border: 1px solid black;*/
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.booking-details{
    /*background-color: deeppink;*/
    flex: 1;
}

#bookingBtn{
    height: 50px;
    background-color: #63AB45;
    border: none;
}

.hotel-cart-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    margin-bottom: 5px;
}
.hotel-cart-container p{
    margin: 10px 0 10px 0;
    padding: 0;
}
.hotel-cart-container>div:nth-child(1){
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
    justify-content: center;
}
.hotel-cart-container>div:nth-child(2){

    justify-content: center;
    display: flex;
    flex-direction: column;
    /*background-color: #0d6efd;*/
}

.hotel-cart-container>div:nth-child(3){

    justify-content: center;
    display: flex;
    flex-direction: column;
    /*background-color: #0d6efd;*/
    font-size: 50px;
}
.hotel-cart-container>div:nth-child(3) button{

    border: none;
    background-color: white;
    cursor: pointer;

}

.booking-details{
    padding: 0 20px;
}

.totalValue{
    display: flex;
    color: red;
    margin-left: 5px;
    background-color: white;
}

.hotel-cart-container>div>div{
    display: flex;
}


/**/

.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.packageSuccess{
    display: none;
}